.item {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 12px;
  padding: 12px 16px;
  border-radius: 8px;
}

.item > :not(:first-child) {
  grid-column: 2;
}

.item__name {
  font-weight: 600;
  color: #2d3436;
}

.item__quantity {
  font-size: 0.9rem;
  color: #636e72;
  margin: 0;
}

.item input[type="checkbox"] {
  width: 20px;
  height: 20px;
  accent-color: #b3572c;;
  cursor: pointer;
}
